/* gameplay.css */

/* Apply full-page border */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF7DD;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* Border around the whole page */
    border: 15px solid #91C1C4;
    box-sizing: border-box; /* ensures border doesn't cause scrollbars */
}

/* Match Title styling */
h1 {
    font-family: 'Jacques Francois Shadow', serif;
    color: #80A1BA;
    font-size: 5rem;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Seasons Title styling */
h2 {
    font-family: 'Rochester', cursive;
    color: #C74C00;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}