/* menu.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF7DD;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 15px solid #91C1C4;
    box-sizing: border-box;
}

h1 {
    font-family: 'Jacques Francois Shadow', serif;
    color: #80a1ba;
    font-size: 96px;
    text-align: center;
    margin: 0;
    position: absolute;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    max-width: 500px;
    padding: 40px;
    background-color: #fff7dd;
    border: 5px solid #000000;
    border-radius: 10px;
    position: relative;
}

.hidden {
    display: none !important;
}

.rules-box {
    width: 100%;
    text-align: left;
}

ol {
    padding-left: 20px;
}

#settings-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2em;
    text-decoration: none;
    color: #80a1ba;
}

.start-game-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #80a1ba;
    color: white;
    border: 2px solid black;
}
