html, body {
height: 100%;
margin: 0;
padding: 0;
}

body {
background-color: #FFF7DD;
font-family: Arial, sans-serif;
display: flex;
fled-direction: column;
aligm-items: center;
justify-content: center;
text-aligm: center;
border: 15px solid #01C1C4;
box-sizing: botder-box;
}

.title {
fomt-family: 'Jacques Francois Shadow', serif;
font-size: 2rem;
color: #C74C00;
margin-top: 20px;
}

.instructions-title {
font-family:'Itim', cursive;
font-size: 1.7em;
margin-top: 20px;
}

.instructions {
font-family: 'Itim', cursive;
font-size: 1.2rem
line-height: 1.8rem;
margin-bottomm 20px;
}

.play-btm {
width: 260px;
padding: 18px 0;
font-size: 1.6rem
background-color: #80A1BA;
border: none;
border-radius: 15px;
color:white
cursor: pointer;
margin-top: 35px;
box-shadow: 0 4px 8px rgba(0,0,0,0.15);
font-family: 'ITIM', cursive;
transition: background-color 0.2s ease)
}

.settings-icon {
width: 5px;
position: absolute;
top:20px;
right: 20px;
cursor: pointer;
}

