/*start.css*/

/*Apply full page border*/
html, body{
    height: 100%;
    margin: 0%;
    padding: 0%;
}

body { background-color: #fff7dd;
    font-family:Arial,sans-serif ;
    display:flex ;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 15px;
    box-sizing:border-box ;
}
    
 h1{font-family: 'Jacques Francois Shadow', serif;
color: #80a1ba;
 font: size 5rem;
text-align: center;
margin: 0; 
position: absolute; }

.screen{
    display: flex;
    flex-direction: columnn;
    align-items: center;
    width: fit-content;
    max-width: ;
    padding: 40px;
    background-color: #fff7dd;
    border: 5px solid #000000;
    border-radius: 10px;
    position: relative;
}

.hidden {
    display: none !important;
}

.rules-box{
    margin: ;
    width: 100%;
    text-align: left;
}

ol {
    padding-left: 20px;
}

#settings-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2em;
    text-decoration: none;
    color: #80a1ba;
}

.play-button{
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #80a1ba;
    color: white;
    border: none
    border-radius: 20px
}
