body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url('instructions.png') no-repeat center center;
  background-size: cover;
  font-family: 'Itim', sans-serif;
  overflow: hidden;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

#settings-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  background: transparent;
  border: none;
  cursor: pointer;
}

#settings-btn img {
  width: 65px;
  height: 65px;
  transition: 0.3s;
}

#playBtn {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

#playBtn img {
  width: 250px;
  height: auto;
  transition: 0.3s;
}

#playBtn:hover img,
#settings-btn:hover img {
  transform: scale(1.05);
  filter: drop-shadow(0 0 12px rgba(128, 161, 186, 0.7));